
body
{
	background-image: url('../img/asd.jpg');
	background-size: cover;
}

.grid-container {
	display: grid;
	column-gap: 25px;
	grid-template-columns: repeat(3,32%);
	background-color: #282929;
	padding: 10px;
	margin-top:100px;
	min-width:450px;
	margin-left: 10%;
	margin-right: 10%;	
  }
  
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px;
	font-size: 30px;
	text-align:left;
	min-width: 150px;
	min-height: 50px;
  }
  .meni {
	display: grid;
	column-gap: 25px;
	grid-template-columns: repeat(4);
	background-color: #CE1141;
	padding: 10px;
	min-width:450px;
  }
  
  .meni-item {
	padding: 10px;
	font-size: 35px;
	text-align:center;
	min-width: 150px;
	min-height: 50px;
  }
  .meni-item a
  {
	text-decoration:none;
	display:block;
	color:black;
	min-width:450px;
  }

  .grid-item img
  {
	width:60%;
  }